/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.row .item {
  width: 50%;
  max-width: 220px;
}
.row .item:first-child {
  width: calc(50% - 8px);
  margin-right: 8px;
}
@media screen and (max-width: 576px) {
  .item:first-child {
    margin: 0;
    margin-bottom: 8px;
  }
}
