@rendermode InteractiveServer

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <img src="/favicon.png" alt="Logo" class="navbar-logo" />
            BiliTool
        </a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" id="navToggler"/>

<div class="nav-scrollable">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Schedules">
                <span class="bi bi-calendar-nav-menu" aria-hidden="true"></span> Schedules
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <div @onclick="@(() => { _showConfigSubMenu = !_showConfigSubMenu; })"
                 class="nav-link d-flex justify-content-between align-items-center">
                <div>
                    <span class="bi bi-sliders me-1" aria-hidden="true"></span> Configurations
                </div>
                <span class="bi @(_showConfigSubMenu ? "bi-chevron-down" : "bi-chevron-right")" aria-hidden="true"></span>
            </div>
        </div>

        @if (_showConfigSubMenu)
        {
            <div class="submenu-container">
                <div class="nav-item px-3 ms-4 submenu-item">
                    <NavLink class="nav-link" href="DailyJobConfig">
                        <span class="bi bi-coin" aria-hidden="true"></span> Daily Job
                    </NavLink>
                </div>

                <div class="nav-item px-3 ms-4 submenu-item">
                    <NavLink class="nav-link" href="MangaTaskConfig">
                        <span class="bi bi-book" aria-hidden="true"></span> Manga Task
                    </NavLink>
                </div>

                <div class="nav-item px-3 ms-4 submenu-item">
                    <NavLink class="nav-link" href="MangaPrivilegeTaskConfig">
                        <span class="bi bi-book-half" aria-hidden="true"></span> Manga Privilege
                    </NavLink>
                </div>

                <div class="nav-item px-3 ms-4 submenu-item">
                    <NavLink class="nav-link" href="Silver2CoinTaskConfig">
                        <span class="bi bi-currency-exchange" aria-hidden="true"></span> Silver2Coin
                    </NavLink>
                </div>

                <div class="nav-item px-3 ms-4 submenu-item">
                    <NavLink class="nav-link" href="ChargeTaskConfig">
                        <span class="bi bi-lightning-charge" aria-hidden="true"></span> Charge Task
                    </NavLink>
                </div>

                <div class="nav-item px-3 ms-4 submenu-item">
                    <NavLink class="nav-link" href="VipPrivilegeConfig">
                        <span class="bi bi-star" aria-hidden="true"></span> VIP Privilege
                    </NavLink>
                </div>

                <div class="nav-item px-3 ms-4 submenu-item">
                    <NavLink class="nav-link" href="VipBigPointConfig">
                        <span class="bi bi-award" aria-hidden="true"></span> VIP Big Point
                    </NavLink>
                </div>

                <div class="nav-item px-3 ms-4 submenu-item">
                    <NavLink class="nav-link" href="LiveLotteryTaskConfig">
                        <span class="bi bi-gift" aria-hidden="true"></span> Live Lottery
                    </NavLink>
                </div>

                <div class="nav-item px-3 ms-4 submenu-item">
                    <NavLink class="nav-link" href="LiveFansMedalTaskConfig">
                        <span class="bi bi-badge-cc" aria-hidden="true"></span> Fans Medal
                    </NavLink>
                </div>

                <div class="nav-item px-3 ms-4 submenu-item">
                    <NavLink class="nav-link" href="UnfollowBatchedTaskConfig">
                        <span class="bi bi-person-dash" aria-hidden="true"></span> Unfollow Batch
                    </NavLink>
                </div>
            </div>
        }

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Admin">
                <span class="bi bi-person-circle" aria-hidden="true"></span> Admin
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool _showConfigSubMenu;
}
