/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.listContent .description {
  max-width: 720px;
  line-height: 22px;
}
.listContent .extra {
  margin-top: 16px;
  color: rgba(0, 0, 0, 0.45);
  line-height: 22px;
}
.listContent .extra > :global(.ant-avatar) {
  position: relative;
  top: 1px;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  vertical-align: top;
}
.listContent .extra > em {
  margin-left: 16px;
  color: rgba(0, 0, 0, 0.25);
  font-style: normal;
}
@media screen and (max-width: 480px) {
  .listContent .extra > em {
    display: block;
    margin-top: 8px;
    margin-left: 0;
  }
}
