@namespace Ray.BiliTool.Blazor.Web.Pages.BiliAccount.Login
@page "/BiliAccount/Login"

@using Ray.BiliBiliTool.Agent.BiliBiliAgent.Interfaces
@using Ray.BiliBiliTool.Infrastructure.Cookie
@using Ray.BiliBiliTool.Agent.BiliBiliAgent.Dtos.Passport
@using Ray.BiliBiliTool.Agent.BiliBiliAgent.Dtos
@using Newtonsoft.Json
@using Ray.BiliBiliTool.Agent
@using Ray.BiliBiliTool.DomainService.Interfaces
@using Ray.Infrastructure.BarCode;
@using SixLabors.ImageSharp
@using SixLabors.ImageSharp.Formats.Png
@using SixLabors.ImageSharp.PixelFormats
@using Image = AntDesign.Image

<div style="text-align:center;margin: 20px;">
    <Button Type="@ButtonType.Primary" OnClick="OnButtonClick">扫码登录</Button>
</div>

<div style="text-align:center;margin: 20px;">
    <Image Width="200px" Src="@_qrCode" PreviewVisible="false" />
</div>

@code {

    [Inject]
    protected IPassportApi PassportApi { get; set; }
    [Inject]
    protected ModalService ModalService { get; set; }
    [Inject]
    protected IMessageService Message { get; set; }
    [Inject]
    protected ILoginDomainService LoginDomainService { get; set; }

    private string _qrCodeOutOfDate = "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAMAAAC7IEhfAAAARVBMVEUAAAAAruwArusAruwAruwArewAq+sArusAresAr+sAruwAr+8Aru8AruwAruwAr+cArewAr+0AruwArewAr98ArusAruy8BWrbAAAAFnRSTlMA76DfcL9AMJBAgCAQz68gYI9fUBDPY12YwgAAAUZJREFUOMuNlFuShCAMRcNTQEBbp9n/UkcTuhnKKHN/rIqHXBII0MvrrEQpIuXg4VYxHEyTkjOPvcpFHKpFYaQ2OLQb813x+vxx626t1VLVwOvwOj6p2hoMCmebxSSJTNGeHwq+MWQW6LQQahBsvkIzGyfyA67ITcBoohIJnHHfyHFkA3EnmsV8COkLzthZPl1pqgkXFnSNUwDqNiGsDdzAPlQC2pCkBQiUd6xMzmMl7M1AMQKcDfUDLpzFlBFInRb/AKkxaL2PQYH9Xp8wumwJ2+OeMDrkDHrYcDQNYIfVTJUQI2+JnnTYYr7F2n2NOD/3YLuvrjwdt24DEAUO4UMlaqmLRuO69bOhWd++J4Z95GYKv6EppkLoH38vKWZ+2MlUUnvvd+1UDbjLaKrCiHu5FnnlHNoyqOqyBcR42ZCTOBiVtYVOvw1hKHrM5JK6AAAAAElFTkSuQmCC";

    private string _qrCode;
    private string _qrCodeKey;
    private BiliCookie biliCk;

    private async Task OnButtonClick()
    {
        await GetQrCodeAsync();
        LoginByQrCodeAsync();
    }

    private async Task GetQrCodeAsync()
    {
        BiliApiResponse<QrCodeDto> re = await PassportApi.GenerateQrCode();
        if (re.Code != 0)
        {
            ModalService.Error(new ConfirmOptions()
                {
                    Title = "获取二维码失败",
                    Content = re.ToJsonStr()
                });
            return;
        }

        var url = re.Data.Url;

        Image<Rgba32>? bitmap = BarCodeHelper.EncodeByImageSharp(url);

        _qrCode = bitmap.ToBase64String(PngFormat.Instance);
        _qrCodeKey = re.Data.Qrcode_key;

        Message.Success("获取成功，请使用App扫描");
    }

    private async Task LoginByQrCodeAsync()
    {
        var maxWaitTimes = 100;
        var maxConsecutiveErrorTimes = 10;
        var currentConsecutiveErrorTimes = 0;
        for (int i = 0; i < maxWaitTimes; i++)
        {
            await Task.Delay(2 * 1000);

            var check = await PassportApi.CheckQrCodeHasScaned(_qrCodeKey);

            //http异常
            if (!check.IsSuccessStatusCode)
            {
                ModalService.Error(new ConfirmOptions()
                    {
                        Title = "调用检测接口网络异常",
                    });
                currentConsecutiveErrorTimes++;

                if (currentConsecutiveErrorTimes >= maxConsecutiveErrorTimes)
                {
                    await QrCodeTimeOutAsync();
                    break;
                }
                continue;
            }

            var content = JsonConvert.DeserializeObject<BiliApiResponse<TokenDto>>(await check.Content.ReadAsStringAsync());
            if (content.Code != 0)
            {
                ModalService.Error(new ConfirmOptions()
                    {
                        Title = "调用检测接口返回异常",
                        Content = check.ToJsonStr()
                    });
                currentConsecutiveErrorTimes++;

                if (currentConsecutiveErrorTimes >= maxConsecutiveErrorTimes)
                {
                    await QrCodeTimeOutAsync();
                    break;
                }
                continue;
            }

            if (content.Data.Code == 86038)//已失效
            {
                ModalService.Error(new ConfirmOptions()
                    {
                        Title = "二维码已失效，请重新获取",
                        Content = content.Data.Message
                    });
                await QrCodeTimeOutAsync();
                break;
            }

            if (content.Data.Code == 0)
            {
                IEnumerable<string> cookies = check.Headers.SingleOrDefault(header => header.Key == "Set-Cookie").Value;

                string cookieStr = CookieInfo.ConvertSetCkHeadersToCkStr(cookies);
                biliCk = new BiliCookie(cookieStr);
                biliCk.Check();

                await LoginDomainService.SaveCookieToJsonFileAsync(biliCk, default);

                ModalService.Success(new ConfirmOptions()
                    {
                        Title = "扫描成功！",
                        Content = $"已自动更新如下Cookie：\n\n{biliCk.CookieStr}"
                    });

                await QrCodeTimeOutAsync();

                break;
            }
        }
    }

    private async Task QrCodeTimeOutAsync()
    {
        _qrCode = _qrCodeOutOfDate;
        await InvokeAsync(StateHasChanged);
    }
}
