/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
a.listItemMetaTitle {
  color: rgba(0, 0, 0, 0.85);
}
.listItemExtra {
  width: 272px;
  height: 1px;
}
.selfTrigger {
  margin-left: 12px;
}
@media screen and (max-width: 480px) {
  .selfTrigger {
    display: block;
    margin-left: 0;
  }
}
@media screen and (max-width: 768px) {
  .selfTrigger {
    display: block;
    margin-left: 0;
  }
}
@media screen and (max-width: 992px) {
  .listItemExtra {
    width: 0;
    height: 1px;
  }
}
